// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

body {
 font-family: $text-font-stack;
 color: $text-color;
 font-size: .9rem;
 background: $body-background;

  @media(max-width: 768px) {
    padding-top: 50px;
  }
}
h1,h2,h3,h4,h5,h6 {
   font-family:$text-header-stack;
}

a {
   color: $primary;
}


.ui {
  &__section {
    padding: 50px 0;
    &-content {
      padding: 10px;
      p {
        line-height: 1.8rem;
      }
    }

    &-title {
      font-weight: 700;
      position: relative;

      &:after {
        color: inherit;
        opacity: .08;
        font-size: 110%;
        position: absolute;
        bottom: -1rem;
        left: -1.5rem;
        filter: blur(2px);
      }

      &.about:after {
        content: 'Acerca de mí';
      }
      &.mywork:after {
        content: 'Cómo trabajo';
        opacity: .03;
        left: 10%;
        right: 10%;
      }
    }

    &.isDark {
    background: #111;
      color: #eee;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #fff;
      }

    }

  }
}

.ui {
  &__page {

    .page {
      &__header {
        margin-top: 15px;
        padding: 10px;
        h1 {
          font-size: 2rem;
          letter-spacing: -1px;
          margin: 0 0 5px;
        }

        &-metas {
          font-size: .9rem;
          padding: 5px;
          margin: 0;
          color: #737373;
        }

        hr {
          margin: 10px 0;
        }

        &-breadcrumb {
          list-style: none;
          margin: 0;
          padding: 0;
          padding-left: 20px;

          > li {
            color: #999;
            font-size: .9rem;
            display: inline-flex;
            margin-right: 20px;
            &:before {
              content: "/";
              color: #999;
            }
            a {
              color: var(--primary);
              text-decoration: none;
            }
          }
        }
      }
      &__content {
        padding: 20px 20px 50px;

        &-description {
          line-height: 1.8rem;
          a {
            color: var(--pink);
          }
        }
      }
    }
    
  }
}