$border-color: rgb(234, 234, 234);
.form-control {
    font-size: current;
    border-color: $border-color;
    
    &::placeholder {
        color: #999;
    }

    &:focus {
        box-shadow: none;
    }
}

.input-group-text {
    color: rgb(136, 136, 136);
    background-color: rgb(250, 250, 250);
    border-color: $border-color;
}