.sk {
    &__grid {
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(150px, 1fr));
        grid-gap: 10px;
    }

    &__item {
        padding: 10px;
        text-align: center;

        &-name {
            display: block;
            padding: 2px;
            font-weight: normal;
        }
        &-icon {
            display: block;
            max-width: 80px;
            height: auto;
            margin: 0 auto 5px;
        }
    }
}