.hero {
    &__wrapper {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
        background: #fff;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: 0;
            background-color: #fff;
            //background-image: url("/img/santiago.jpg");
            background-image: url("/img/3681690.jpg");
            background-size: cover;
            background-position: center;
            opacity: .4;
        }
    }

    &__overlay {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 0;
    }

    &__content {
        color: #111;
        text-align: center;
        padding: 15px;
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: 1270px;

        .logo {
            max-width: 80px;
            height: auto;
            display: block;
            margin: 10px auto 20px;
        }

        .title {
            font-size: 2.8rem;
            letter-spacing: -1px;
            margin: 0 0 25px;

            &:after {
                content: "|";
                -webkit-animation: blink 1s infinite step-start;
                        animation: blink 1s infinite step-start;
              }
              
              @-webkit-keyframes blink {
                50% { opacity: 0; }
              }
              
              @keyframes blink {
                50% { opacity: 0; }
              }
        }

        .subtitle {
            font-size: 1.1rem;
            font-weight: 200;
            margin: 0 0 5px;
        }

        .cta {
            font-size: 1.2rem;
            font-weight: normal;
            padding-left: 35px;
            padding-right: 35px;
            margin-right: 10px;
            margin-bottom: 10px;
            box-shadow: 0 4px 14px 0 rgba(0,118,255,0.39);
        }
        .mywork {
            font-size: 1.2rem;
            font-weight: normal;
            padding-left: 35px;
            padding-right: 35px;
            margin-bottom: 10px;
            text-decoration: underline!important;
            //box-shadow: 0 4px 14px 0 rgba(#111,0.39);
        }
    }
}